*{
    font-family: monospace;
}

.cardDetail {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.166);

}

.content {
    display: flex;
    /*background-color: rgb(158, 195, 227);*/
    border-radius: 20px;
    width: 80vw;
    height: 80vh;
    
    background: rgb(2,0,36);
    background: -moz-linear-gradient(65deg, rgba(2,0,36,1) 0%, rgba(8,9,9,0.9447129193474265) 35%, rgba(0,212,255,1) 100%);
    background: -webkit-linear-gradient(65deg, rgba(2,0,36,1) 0%, rgba(8,9,9,0.9447129193474265) 35%, rgba(0,212,255,1) 100%);
    background: linear-gradient(65deg, rgba(2,0,36,1) 0%, rgba(8,9,9,0.9447129193474265) 35%, rgba(0,212,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);
}

.contentLeft {
    /*width: 570px;*/
    flex: 0.7;
    margin: 5px;
}

.content-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 1px;
   
}

.title h2 {
    color: aliceblue;
    text-align: center;
    font-size: 4rem;
    padding: 1px;

}

.city h3{
    color: aliceblue;
    font-size: 3rem;
    padding: 1rem;

}

.airbnb {
    height: 100%;
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

.country h3 {
    display: flex;
    justify-content: flex-end;
    color: aliceblue;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;

}

.airbnb a {
    text-decoration: none;
    color: aliceblue;
}

.airbnb a:hover{
    color: rgb(250, 150, 50);
}

.imageCity {
    height: 50%;
}

.closeButton {
    display: flex;
    height: 10px;
    justify-content: flex-end;
    padding: 10px;
}

.closeButton:hover {
    cursor: pointer;
}

@media screen and (width < 1300px) {
    .title h2 {
        font-size: 3rem;
    }

}

@media screen and (width < 1200px) {
    .imageCity {
        height: 40%;
    }

}


@media screen and (width < 1100px) {

    .contentLeft {
        flex: 1.5;
        margin: 5px;
    }
    .contentRight {
        flex: 1;
    }

    .title h2 {
        font-size: 3rem;
    }

    .city h3{
        font-size: 2rem;
        padding: 1rem;
    }

    .imageCity {
        height: 40%;
    }

    /*.airbnb {
        font-size: 1rem;
    }*/

    .closeButton svg {
        height: 15px;
        width: 15px;    }
}