.card {
    height: auto;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 100;
    width: 100%;
    backdrop-filter: blur(3px);
}

.content {
    border-radius: 5%;
    border: solid 1px;
    width: 80vw;
    height: 80vh;
    display:flex;
}

.content-right {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}