.footer{
    background-image: url('../Img/18303721.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 300px;
    bottom: 0;
    padding-bottom: 10%;
}

h3{
    color: white;
    margin: 4%;
    display: flex;
    justify-content:center;
}

ul{
    width: 100%;
    border-radius: 10px;
    margin: 1%;
}
.list {
    
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    gap: 10%;
    color: white;
    
}

.img-reseaux{
    width: 1%;
    height: 10%;
    border-radius:4px;
    display: flex;
    justify-content: center;
   
    
}

.allimg{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
    height: 100%;
    width: 100%;
    margin: 15% 2% 0% 0%;
}

.icon{
   
}

.contact, .reseaux, .suggestions{
    display: flex;
    flex-direction: column;
    text-align: center;

}

.li-contact {
    Display: flex;
    list-style: none;
    justify-content: center;
    gap: 20%;
    margin-top: 5px;
    background-color: blue
}

.reseaux {
    display: flex;
    justify-content: center;
    flex-direction: row
}
.input{
    height: 70px;
    width: 70%;
    margin-left: 80px;
    border-radius: 10px;
}

.link{
    border-radius: 5px;
    background-color: white;
    border: black;
    width: 50%;
    height: 15%;
    margin: 25%;
    background-color: #0c6e8f;
    color: white;
    font-size: 5vw;
    -webkit-box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px -10px 27px -8px #A31925, 1px 50px 0px 50px rgba(0,0,0,0); 
    box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px -10px 27px -8px #A31925, 1px 50px 0px 50px rgba(0,0,0,0);
    
    
}

.form {
    background: linear-gradient(45deg, rgb(9, 45, 151) 0%, rgb(34, 63, 150) 18%, rgb(37, 85, 214) 68%, rgb(88, 128, 245) 100%);
    border: 1px solid white;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 33%;
    gap: 6px;
    border-radius: 25px;
    color: white;
}

.twobutton{
    display: flex;
    justify-content: center;
    margin: 8px;
    gap: 70%;
 
}
.form-group{
    display: flex;
    justify-content: center;
    gap:5px;
    margin: 8px;
}
.send{
    color: green;
    border-radius: 5px;
    background-color: white;
}

.back{
    color: red;
    border-radius: 5px;
    background-color: white;
}

.back:hover, .send:hover, .link:hover{
    transform: scale(105%);
    transition-duration: 0.2s;
    
}
.contactus{
    gap: 20px;
    background-color: #76dcff;
}