.body {
    background-color: black;
}

.main {
    background-color: blanchedalmond;
}

.header {
    background-color: antiquewhite;
}

.menu {
    background-color: aqua ;
}

.footer {
    background-color: lightblue;
}