.galaxy{
    background-size: cover;
    background-image: url(./agence-voyage-insolite.jpg);
}

.Planete{
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}

.Terre{
    position: absolute;
    top: 40%;
    left: 48%;
    transform:rotate(23deg) translate(-50%, -50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: url(./depositphotos_282704904-stock-illustration-worldmap-with-airplane-trace-vector.jpg);
    background-size: cover;
    background-repeat: repeat-x;
    animation: animateTerre 30s linear infinite;
    box-shadow: inset 30px -4px 15px 5px rgba(0, 0, 0, 0.653);
    filter: grayscale(20%) brightness(86%) saturate(195%);
    
}

/* .Terre:hover{
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
} */

@keyframes animateTerre
{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 1725px 0;
    }
}



/*.avion span{
    background-color: rgb(182, 182, 182);
    position: absolute;
    top: 100px;
    left: 100px;
    transform-style: preserve-3d;
    transform-origin: center;
    animation: animateAvion linear infinite;
    transform:rotateY(calc(var(--i)* calc(360deg / 11))) translateZ(200deg) ;
}

@keyframes animateAvion
{
    0%{
        transform: perspective(1000px) rotateY(360deg) rotateX(15deg);
    }
    
}*/

