.galaxy{
    background-image: url(../images/cinema-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.Planete{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    transform-style: preserve-3d;
}
} 

.Terre{
    position: absolute;
    top: 15%;
    left: 43%;
    width: 250px;
    transform: rotate(23deg);
    height: 250px;
    border-radius: 50%;
    background-image: url(../images/depositphotos_282704904-stock-illustration-worldmap-with-airplane-trace-vector.jpg);
    background-size: cover;
    background-repeat: repeat-x;
    animation: animateTerre 30s linear infinite;
    box-shadow: inset 30px -4px 15px 5px rgba(0, 0, 0, 0.653);
}

.Terre:hover{
    transform: scale(1.4) ;
    transition: all 0.5s ease-in-out;
}

@keyframes animateTerre
{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 1725px 0;
    }
}
