.galaxy{
    background-image: url(../images/interieur-du-salon-canape-tv-appartement_107791-3226.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}
.galaxy img{
    height: 65px;
}

.bar{
    display: flex;
    font-family: 'Dancing Script', cursive;
}
 
.bar h1{
    color: white;
    margin-top: 1%;
    margin-left: 30%;
}

.Planete{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    transform-style: preserve-3d;
}


.Terre{
    margin-top: 15px;
    position: absolute;
    top: 5%;
    left: 45%;
    width: 150px;
    transform: rotate(23deg);
    height: 150px;
    border-radius: 50%;
    background-image: url(../images/depositphotos_282704904-stock-illustration-worldmap-with-airplane-trace-vector.jpg);
    background-size: cover;
    background-repeat: repeat-x;
    animation: animateTerre 30s linear infinite;
    box-shadow: inset 30px -4px 15px 5px rgba(0, 0, 0, 0.653);
}



@keyframes animateTerre
{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 1725px 0;
    }
}
