.choice img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    
}
.choice {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    justify-content: center;
    background: rgb(118,220,255);
    background: linear-gradient(0deg, rgba(118,220,255,1) 0%, rgba(29,176,238,1) 55%, rgba(41,102,168,0.8326681014202556) 100%);}
.choice .card {
    width: 200px;
    height: 300px;
    border-radius: 20px;
    margin: 1%;
    box-shadow: rgba(0, 0, 0, 0.56) 11px 6px 19px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.choice .card:hover {
 transform: scale(1.1) ;
 pointer-events: auto ;
 cursor:pointer;
 transition-duration: 1.5s;
}
.choice .popup {
    width: 400px;
    height: 500px;
}
.choice .popup img {
    width: 100%;
    height: 100%;
}